[project]
name = "viviphi"
version = "0.1.0"
description = "Turn static graphs into beautiful animations"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "pydantic>=2.12.5",
]

[dependency-groups]
dev = [
    "pytest>=9.0.1",
    "ruff>=0.14.7",
]
