name: Tests

on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
      - 'examples/**'
      - 'README.md'
      - '.github/workflows/lint.yml'

jobs:
  run-tests:
    name: Test Suite
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Install dependencies
        run: uv sync --no-install-project
        shell: bash

      - name: Install Playwright browsers
        run: uv run playwright install --with-deps
        shell: bash

      - name: Run tests and generate coverage report
        run: uv run pytest
        shell: bash

#      - name: Upload coverage reports to Coveralls
#        uses: coverallsapp/github-action@v2
#        with:
#          github-token: ${{ secrets.GITHUB_TOKEN }}
